.card-group {
    margin: 10px;
}

form {
    margin: 10px;
}

.initControl {
    margin: 10px;
}

.initControl .initItem {
    background: lightGray;
/*    color: white;*/
    
    margin-top: 7px;
}

.formPadding {
    padding: 5px;
}